.score {
  position: relative;
  text-align: center;
  background-color: #FBFBFB;

  & h2 {
    position: absolute;
    margin-left: 30px;
    font-size: 10px;
    text-align: left;
    margin-bottom: 0;
  }
  &_text {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  & span {
    font-size: 18px;
    font-weight: bold;
  }
  & p {
    margin: 0;
    font-size: 12px;
    color: #74798C;
  }
}
